{% extends 'base.html' %}

{% block title %}Comment{% endblock %}

{% block body %}


<h3>New Comment</h3>
<form action="/addcomment" method="post">
    <input type="text" name="comment">
    <input type="submit" name="submit" value="Надіслати">
</form>



<div>
    {% if comments %}
    <p> Ваш коментар: <strong>{{comments}}</strong> доданий у таблицю проблем</p>
    {% endif%}
</div>

{% endblock %}
