{% extends 'base.html' %}
{% block title %}Issues{% endblock %}
{% block body %}
<h3>Issues List</h3>
<div class="col-sm-6">
    <table class="table-condensed table-responsive-sm">
        <tr>
            <th>Id</th>
            <th>Project</th>
            <th>Tracker</th>
            <th>priority</th>
            <th>status</th>
            <th>author</th>
            <th>Start Date</th>
            <th>Spent Days</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Comments</th>
        </tr>
        {% for val in issues %}
        {% for days in dates %}


        <tr>
            <td> {{ val.id}}</td>
            <td> {{ val.project.name}}</td>
            <td> {{ val.tracker}}</td>
            <td> {{ val.priority}}</td>
            <td> {{ val.status}}</td>
            <td> {{ val.author}}</td>
            <td> {{ val.start_date}}</td>
            <td>{{ days }}</td>
            <td> {{ val.subject }}</td>
            <td> {{ val.description }}</td>
            <td> {{ comments }}</td>

        </tr>


        {% endfor %}
        {% endfor %}
    </table>
</div>
{% endblock %}
