{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<h3>Project List</h3>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Identifier</th>
        <th>Created</th>
        <th>Updated</th>
    </tr>
    </thead>
    <tbody>
    {% for p in projects %}
    <tr>
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.description}}</td>
        <td>{{p.status}}</td>
        <td>{{p.identifier}}</td>
        <td>{{p.created_on}}</td>
        <td>{{p.updated_on}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
